@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: blue;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .title h1 {
  margin: 0;
  font-size: 1.5em;
}

header nav {
  display: flex;
  gap: 20px;
}

header a {
  color: white;
  text-decoration: none;
}

header a.router-link-active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

select{
  width: 200px;
  font-size: large;
}

.dashboard {
  text-align: center;
}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.table-wrapper {
  flex: 1 1 calc(50% - 40px);
  max-width: calc(50% - 40px);
  min-width: 300px;
  box-sizing: border-box;
}


.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.main-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background-color: grey;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar a {
  display: block;
  margin: 10px 0;
  color: black;
  text-decoration: none;
}

.sidebar a.router-link-active {
  font-weight: bold;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
}
